{% load bootstrap3 %}
<!DOCTYPE html>
<html>

  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if status == 200 %}
    <title>Online!</title>
    <link rel="shortcut icon" type="image/x-icon" href="circle-green.ico" />
    {% else %}
    <title>Offline!</title>
    <link rel="shortcut icon" type="image/x-icon" href="circle-red.ico" />
    {% endif %}
  </head>

  <body>
    {% if status == 200 %}
    <p>The site at {{url}} is up!</p>
    {% else %}
    <p>The site at {{url}} is down!</p>
    {% endif %}
  </body>
</html>
